#container
{
    display: grid;
    grid-template-areas: 'header header header header header'
                         'sidebar main main main main'
                         'footer footer footer footer footer';
    
}

/* .header
{
    grid-area: header;
    padding: 10px;
    box-shadow: 0 0 0 1px black;
    margin-bottom: 10px;

} */

img
{
    width: 100px;
    height: auto;
    padding: 10px;

}

.sidebar
{
    grid-area: sidebar;  
    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main
{
    grid-area: main;
    background-color: blanchedalmond;
    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
    
}


header{
    grid-area: header;

    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

#search
{
    width: 100px;
}

.footer
{
   grid-area: footer; 

   border: 1px solid black;

   padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


h1
{
    text-align: center;
}
nav ul li
{

    display: flex;
    flex-grow: 1;
    
}

nav ul
{

    display: flex;
    
}

