#container
{
    display: grid;
    grid-template-areas: 'header header header header header'
                         'sidebar main main main main'
                         'footer footer footer footer footer';
    
}

#form2{
    display: none;
}

.img
{
    width: 100px;
    height: auto;
    padding: 10px;

}
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Individual result item styles */
#results > div {
    flex: 0 0 auto; /* Let them shrink as needed */
    margin: 5px; /* Smaller margin */
    background-color: #f9f9f9;
    padding: 10px; /* Smaller padding */
    box-sizing: border-box;
}

/* Media query for smaller screens */
@media screen and (max-width: 500px) {
    #results > div {
        flex-basis: 100%; /* Occupy full width */
    }
}


.sqr{
    
    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
   
   
}

#results{
    display: flex;
}

.sidebar
{
    grid-area: sidebar;  
    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main
{
    grid-area: main;
    background-color: blanchedalmond;
    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
    
}


header{
    grid-area: header;

    border: 1px solid black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

#search
{
    width: 100px;
}

.footer
{
   grid-area: footer; 

   border: 1px solid black;

   padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


h1
{
    text-align: center;
}
nav ul li
{

    display: flex;
    flex-grow: 1;
    
}

nav ul
{

    display: flex;
    
}

